@use "@var/colors";

.choose {
  margin-top: 100px;
}

.label {
  margin: 24px 0 0 0;
  color: colors.$black;
  text-align: center;
  font-stretch: extra-condensed;
  font-weight: 600;
  letter-spacing: 0.6px;
  font-size: 18px;
  span {
    font-weight: 900;
  }
}

.row {
  display: flex;
  margin: 0 -8px;
  justify-content: space-between;
}
.column {
  padding: 0 8px;
  flex: 0 1 25%;
}
.item {
  background: colors.$white;
  padding: 10px 16px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
  img {
    max-width: 100%;
  }
}

.link {
  margin: 12px auto 32px auto;
  color: colors.$black;
  text-align: center;
  font-stretch: extra-condensed;
  font-weight: 600;
  letter-spacing: 0.6px;
  font-size: 18px;
  text-decoration: underline;
  display: block;

}
@media (max-width: 992px) {
.row {
  flex-wrap: wrap;
  row-gap: 16px;
}
  .column {
    flex: 1 1 100%;
  }
  .item {
    text-align: center;
  }
}



.row {
  .column {
    opacity: 0;
    visibility: hidden;
    transition: all 1s ease 0s;
    transform: translate(-10px, 0);

    &:nth-child(1) {
      transition: all 0.7s ease 0.2s;
    }
    &:nth-child(2) {
      transition: all 0.7s ease 0.4s;
    }
    &:nth-child(3) {
      transition: all 0.7s ease 0.6s;
    }
    &:nth-child(4) {
      transition: all 0.7s ease 0.8s;
    }
  }
}
.row._inView {
  .column {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
    &:nth-child(0) {

    }
  }
}

.label, .link {
  opacity: 0;
  visibility: hidden;
  transform: translate(-40px, 0);
  transition: all 1s ease 0s;
}
.label._inView, .link._inView {
  transform: translate(0px, 0);
  opacity: 1;
  visibility: visible;
}