@use "@var/colors";
@use "@mixins/index";

.nav {
  display: flex;
  margin-top: 32px;
  transition: all 0.3s ease 0s;
  column-gap: 2px;
  &Item {
    padding: 6px 16px;
    color: colors.$black;
    font-weight: 600;
    @include index.responsive-property("paddingLeft", 11, 16, 992, 1900);
    @include index.responsive-property("paddingRight", 11, 16, 992, 1900);
    transition: all 0.2s ease 0s;
    border: 1px solid transparent;
    @media (hover:hover) {
      &:hover {
        color: colors.$blue;
        border: 1px solid colors.$blue;
      }
    }
  }

}

.nav._isScrolled {
  margin-top: 0;
}

@media (max-width: 992px) {
  .nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}